/*  */
.case1 { 
    background-color: #F7E0A3;
    opacity: 0.4;
}

.case17 { 
    background-color: #F0D07A;
}

.case22 { 
    background-color: #E0C25A;
}

.case8 { 
    background-color: #C78203;
}

.case11 { 
    background-color: #F7E0A3;
}

.case13 { 
    background-color: #C78203;
}

.case24 { 
    background-color: #C78203;
}

.case2 { 
    background-color: #E0C25A;
}

.case21 { 
    background-color: #F7E0A3;
}

.case7 { 
    background-color: #F0D07A;
}

.case16 { 
    background-color: #E0C25A;
}

.case20 { 
    background-color: #F7E0A3;
}

.case6 { 
    background-color: #F0D07A;
}

.case14 { 
    background-color: #F7E0A3;
}

.case10 { 
    background-color: #C78203;
}

.case15 { 
    background-color: #E0C25A;
}

.case12 { 
    background-color: #C78203;
}

.case3 { 
    background-color: #F0D07A;
}

.case19 { 
    background-color: #E0C25A;
}

.case9 { 
    background-color: #C78203;
}

.case5 { 
    background-color: #F0D07A;
}

.case18 { 
    background-color: #F7E0A3;
}

.case4 { 
    background-color: #F0D07A;
}

.case23 { 
    background-color: #E0C25A;
}



/*Ton bleu
.case1 { 
    background: #A7C8E5;  
}

.case24 { 
    background-color: #8FB8D5; 
}

.case6 { 
    background-color: #7A9CC1; 
}

.case19 { 
    background-color: #4C6B8C;  
}*/

/*Ton rose*//*
.case1 { 
    background: #F1C1D1;  
}

.case24 { 
    background-color: #F5A7B8; 
}

.case6 { 
    background-color: #F197B8; 
}

.case19 { 
    background-color: #F26279;  
}*/