* {
    width:auto;
    height:auto;
    margin:0;
    padding:0;
}

body {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

body::before { /*avant contenu principal*/
    content:""; 
    position: absolute;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/noel_robot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
}

h1 {
    text-align: center;
    padding-top: 5%;
    color: pink;
    cursor:pointer;
    transition: transform 1000ms;
}

h1:hover {
        transform:scale(1.15);
    }

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calendrier {
    position: absolute;
    width: 80vh;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 20%);
    gap: 10px;
}

.calendrier div, .calendrier a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: navy;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7), 
                0 12px 10px rgba(255, 255, 255, 0.2) inset,
                0 -10px 20px rgba(0, 0, 0, 0.5) inset;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.calendrier div:hover { /*effet .calendriera:hover*/
    transform: translateX(-8px) translateY(-8px);        
}

.popup {
    position: relative;
    padding: 0.5% 6% 6% 6%;
    border-radius: 15px;
    background-color: rgba(128, 145, 165, 0.8);
    color: #F7E0A3;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:5%;
}

.close {
    text-align: right;
    padding-bottom: 5%;
}

.img_close {
    width: 70%;
}

.container {
    display: flex;
    justify-content: center;
}

.container_close {
    width: 70%;
    display: flex;
    align-items: center;
}

.display_cat {
    padding-left: 3%;
}

a {
    text-decoration: none;  
    color: inherit;
    height: 100%;
    width: 100%; 
}

.ouvert {
    display: flex;
    flex-direction: column-reverse;
    opacity: 0.4;
}

.space {
    padding-bottom: 3%;
}

.espace {
    padding-bottom: 8%;
}

.style_lien:hover {    
    text-decoration: underline;
} 

/*Cases*/
.case01 { 
    background-color: #F7E0A3;
}

.case02 { 
    background-color: #E0C25A;
}

.case03 { 
    background-color: #F0D07A;
}

.case05 { 
    background-color: #F0D07A;
}

.case04 { 
    background-color: #F0D07A;
}

.case05 { 
    background-color: #F0D07A;
}

.case06 { 
    background-color: #F0D07A;
}

.case07 { 
    background-color: #F0D07A;
}

.case08 { 
    background-color: #C78203;
}

.case09 { 
    background-color: #C78203;
}

.case10 { 
    background-color: #C78203;
}

.case11 { 
    background-color: #F7E0A3;
}

.case12 { 
    background-color: #C78203;
}

.case13 { 
    background-color: #C78203;
}

.case14 { 
    background-color: #F7E0A3;
}

.case15 { 
    background-color: #E0C25A;
}

.case16 { 
    background-color: #E0C25A;
}

.case17 { 
    background-color: #F0D07A;
}

.case18 { 
    background-color: #F7E0A3;
}

.case19 { 
    background-color: #E0C25A;
}

.case20 { 
    background-color: #F7E0A3;
}

.case21 { 
    background-color: #F7E0A3;
}

.case22 { 
    background-color: #E0C25A;
}

.case23 { 
    background-color: #E0C25A;
}

.case24 { 
    background-color: #C78203;
}


/* @keyframes sparkle {
    0% { 
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 0 0 15px rgba(255, 255, 255, 0.2); /* Faible éclat au départ */
    }
    25% { 
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 60px rgba(255, 255, 255, 0.3); /* Plus intense */
    }
    50% { 
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.7), 0 0 60px rgba(255, 255, 255, 0.8), 0 0 120px rgba(255, 255, 255, 0.9); /* Forte brillance */
    }
    75% { 
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 80px rgba(255, 255, 255, 0.4); /* Moins intense mais encore visible */
    }
    100% { 
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 0 0 15px rgba(255, 255, 255, 0.2); /* Retour à un éclat faible */
    }
} */

.calendrier span {
    border: 2px solid transparent;
    animation: sparkle 1s infinite alternate;
} 