/*Général*/
.mountains-of-christmas-regular {
    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: bold;
  }
  
  .mountains-of-christmas-bold {
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal;
  }
  
* {
    margin: 0;
    padding: 0;
    font-family: "Mountains of Christmas";
}

.calendrier {
    width:auto;
    height:auto;
    margin:0;
    padding:0;
}

body {
    min-height: 100vh;
    /* position: relative; */
    overflow: hidden;
}

body::before { /*avant contenu principal*/
    content:""; 
    position: absolute;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/noel_robot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    z-index: -99;
}

h1 {
    text-align: center;
    padding-top: 4%;
    color: pink;
    cursor:pointer;
    transition: transform 1000ms;
}

h1:hover {
    transform:scale(1.15);
}

.titre_pad {
    padding-bottom:4%;
}

h2 {
    padding-top: 2%;
    text-align: center;
    color: pink;
    font-size: 1.3em;
}

/*Général calendrier*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:80vh;
}

.calendrier {
    position: absolute;
    height: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 3%;    
    font-size: 1.4em;
}

.calendrier div, .calendrier a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: navy;
    box-shadow: 
        0 12px 24px rgba(0, 0, 0, 0.6), /* Ombre externe */
        0 12px 10px rgba(255, 255, 255, 0.6) inset, /* Ombre interne claire */
        0 -10px 20px rgba(0, 0, 0,  0.7) inset; /* Ombre interne sombre */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.calendrier div:hover { /*effet .calendriera:hover*/
    transform: translateX(-8px) translateY(-8px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 1), /* Ombre plus marquée au survol */
                0 16px 14px rgba(255, 255, 255, 0.6) inset,
                0 -12px 24px rgba(0, 0, 0.6) inset,
                0 0 25px rgba(255, 255, 255, 0.1);  
}

/*Popups*/
.popup {
    position: relative;
    padding: 0.5% 6% 6% 6%;
    border-radius: 15px;
    background-color: rgba(128, 145, 165, 0.8);
    color: #F7E0A3;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:5%;    
    font-size: 1.4em;
}

.close {
    text-align: right;
    padding-bottom: 5%;
}

.img_close {
    width: 60%;
}

.container {
    display: flex;
    justify-content: center;
}

.container_close {
    width: 70%;
    display: flex;
    align-items: center;
}

.display_cat {
    padding-left: 3%;
}

a {
    text-decoration: none;  
    color: inherit;
    height: 100%;
    width: 100%; 
}

.ouvert {
    display: flex;
    flex-direction: column-reverse;
    opacity: 0.5;
}

.space {
    padding-bottom: 3%;
}

.espace {
    padding-bottom: 8%;
}

.style_lien:hover {    
    text-decoration: underline;
} 

audio {
    margin-top: 10%;
    background-color:  rgb(7, 67, 136);
}

/*cases*/
.case01 {
    background-color: #8B5F33;
}
.case02 {
    background-color: #E0A96D;
}
.case03 {
    background-color: #7C4E2F;
}
.case04 {
    background-color: #B97B2F;
}
.case05 {
    background-color: #C78203;
}
.case06 {
    background-color: #9A6E3B;
}
.case07 {
    background-color: #D89B5A;
}
.case08 {
    background-color: #936F56;
}
.case09 {
    background-color: #8D6E4B;
}
.case10 {
    background-color: #A56E3C;
}
.case11 {
    background-color: #D89B5A;
}
.case12 {
    background-color: #7A513C;
}
.case13 {
    background-color: #B56E31;
}
.case14 {
    background-color: #E0A96D;
}
.case15 {
    background-color: #8B5F33;
}
.case16 {
    background-color: #9A6E3B;
}
.case17 {
    background-color: #C78203;
}
.case18 {
    background-color: #7C4E2F;
}
.case19 {
    background-color: #B97B2F;
}
.case20 {
    background-color: #A56E3C;
}
.case21 {
    background-color: #936F56;
}
.case22 {
    background-color: #D89B5A;
}
.case23 {
    background-color: #8D6E4B;
}
.case24 {
    background-color: #7A513C;
}



@keyframes flip {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(180deg);
    }
}

.calendrier div:active {
    animation: flip 0.5s forwards;
}

/*Etoiles*/
.etoile {
    background: #fff;
    filter: blur(10px);
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: blinkAnim 5s infinite;
    box-shadow:
      0 0 10px rgba(255, 255, 255, 1),
      0 0 20px rgba(255, 255, 255, 0.8),
      0 0 30px rgba(255, 255, 255, 0.6),
      0 0 40px rgba(255, 255, 255, 1);
    opacity: 1;
    animation-delay: calc(0.5s * var(--delay));
  }

@keyframes blinkAnim {
     from { opacity: 1; }
     50%   { opacity: 0; }
     to   { opacity: 1; }
}

/*particles*/
#particleJS {
    position: fixed;
    height:100vh;
    width: 100vw;
    mix-blend-mode:screen;
}

#etoiles {
    height:100vh;
    mix-blend-mode:screen; 
    z-index: -3;
}