* {
    width:auto;
    height:auto;
    margin:0;
    padding:0;
}

body {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

body::before { /*avant contenu principal*/
    content:""; 
    position: absolute;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/noel_robot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: -1;
}

h1 {
    text-align: center;
    padding-top: 5%;
    color: pink;
    cursor:pointer;
    transition: transform 1000ms;
}

h1:hover {
        transform:scale(1.15);
    }

input {
    border: 2px solid purple;
}

input:focus {
    border: 2px solid blue;
}
